doctype transitional
html(class='no-js', lang='en')
  head

    title [##_title_##] :: [##_page_title_##]
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //google font loading
    //- link(href='http://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/earlyaccess/nanumgothic.css', rel='stylesheet', type='text/css')
    //- link(href='http://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css')

    link(rel='alternate', type='application/rss+xml', title='[##_title_##]', href='[##_rss_url_##]')
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css")
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

    link(rel="stylesheet", href="css/app.css")
    link(rel='stylesheet', media='screen', type='text/css', href='./style.css')
    link(rel='shortcut icon', href='[##_blog_link_##]favicon.ico')
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")



  body
    s_t3

      .black-background

        //- .corner-img-top-left.left
        //-   img(src="./images/left-top.png")
        //- .corner-img-top-right.right
        //-   img(src="./images/left-top.png")

        //- .corner-img-bottom-left.left
        //-   img(src="./images/bottom-pattern-white.png")
        //- .corner-img-bottom-right.right
        //-   img(src="./images/bottom-pattern-white.png")




        .header-logo.row

          .row
            .top_image
              a(href='[##_blog_link_##]', title='[##_title_##]')

                  img(src='[##_image_##]', alt='블로그 이미지')

            .top_title
              h1
                a(href='[##_blog_link_##]', title='[##_title_##]') [##_title_##]


          //- #headerBox.columns
          //-   #header
          //-     h1
          //-       a(href='[##_blog_link_##]', title='[##_title_##]') [##_title_##]
          //-     //- .blogMenu [##_blog_menu_##]
          //- // header close
        hr

      .white-background_menu
        .row.nav-part

            nav.top-bar(data-topbar='', role='navigation' data-magellan-expedition="fixed")
              ul.title-area
                li.name
                  h1
                    //- a(href='#') My Site
                // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
                li.toggle-topbar.menu-icon.small-centered.columns
                  a(href='#')
                    span Menu
              section.top-bar-section [##_blog_menu_##]


              //- div(data-magellan-expedition='fixed')
              //-   dl.sub-nav [##_blog_menu_##]

              //- dd(data-magellan-arrival='build')
              //-   a(href='#build') Build with HTML
              //- dd(data-magellan-arrival='js')
              //-   a(href='#js') Arrival 2



              // Right Nav Section




              //- ul.right
              //-   li.active
              //-     a(href='#') Right Button Active
              //-   li.has-dropdown
              //-     a(href='#') Right Button Dropdown
              //-     ul.dropdown
              //-       li
              //-         a(href='#') First link in dropdown
              //-       li.active
              //-         a(href='#') Active link in dropdown
              //- // Left Nav Section
              //- ul.left
              //-   li
              //-     a(href='#') Left Nav Button

      .adsense-top-layer.row
        .adsense-top
          span
            // 애드센스 본문 상단








      .white-background


        #container.row

          #content.columns.small-12.small-centered.medium-8.medium-centered
            s_list
              #searchList.nonEntry
                h3 '[##_list_conform_##]'에 해당되는 글 [##_list_count_##]건
                ol
                  s_list_rep
                    li
                      span.date [##_list_rep_regdate_##]
                      a(href='[##_list_rep_link_##]') [##_list_rep_title_##]
                      span.cnt [##_list_rep_rp_cnt_##]
            s_rplist
              #searchRplist.nonEntry
                h3 '[##_rplist_conform_##]'에 해당되는 댓글 [##_rplist_count_##]건
                ol
                  s_rplist_rep
                    li
                      span.date [##_rplist_rep_regdate_##]
                      a(href='[##_rplist_rep_link_##]') [##_rplist_rep_body_##]
                      span.cnt [##_rplist_rep_rp_cnt_##]
                      span.name [##_rplist_rep_name_##]
            s_local
              #localog.nonEntry
                h3 지역로그
                s_local_spot_rep
                  .spot(style='margin-left: [##_local_spot_depth_##]px')
                    | [##_local_spot_##]
                s_local_info_rep
                  .info(style='margin-left: [##_local_info_depth_##]px')
                    a(href='[##_local_info_link_##]') [##_local_info_title_##]
            s_tag
              #taglog.nonEntry
                h3 태그
                ul
                  s_tag_rep
                    li
                      a(href='[##_tag_link_##]', class='[##_tag_class_##]') [##_tag_name_##]








            s_guest
              .guestbook.nonEntry
                //- h3 방명록을 남겨주세요!

                .row
                  s_guest_input_form
                    #guestWrite
                    s_guest_member
                      s_guest_form



                    .row
                      .columns.small-12.medium-3
                        .comment-sugguest-icon
                          i.fa.fa-comment-o.fa-flip-horizontal.fa-5x


                      .columns.small-12.medium-9


                        .row
                          .columns.small-12.medium-6

                            .guest-name.guest-input

                              p
                                input(placeholder="Name", type='text', name='[##_guest_input_name_##]', value='[##_guest_name_##]')

                          .columns.small-12.medium-6

                            .guest-password.guest-input
                              p
                                input(placeholder="Password",type='password', name='[##_guest_input_password_##]', value='')

                        .row
                          .columns.small-12.medium-12
                            .guest-url.guest-input

                              p
                                  //- input(placeholder="link",type='text', name='[##_rp_input_homepage_##]', value='[##_guest_homepage_##]')
                                input(placeholder="link", type='text', name='[##_guest_input_homepage_##]', value='[##_guest_homepage_##]')
                    .guestbook-input-text.columns.small-12.guest-input
                      p
                        textarea(name='[##_guest_textarea_body_##]', rows='10', cols='30')


                    .comment-bottom-input
                      p
                        //- input.submit(type='submit', value='댓글 달기', onclick='[##_rp_onclick_submit_##]')
                        input#guestbook-input.right(type='submit', value='방명록 글 남기기', onclick='[##_guest_onclick_submit_##]')

                    .comment-send-icon.right

                      label(for='guestbook-input')
                        i.fa.fa-send-o.fa-2x



                .row
                  s_guest_container
                    #guestList
                      ol
                        s_guest_rep
                          li(id='[##_guest_rep_id_##]')
                            div(class='[##_guest_rep_class_##]')

                                          .row

                                            .comment-user-id.columns.small-12

                                              .name-icon

                                              .name-text

                                                .name [##_guest_rep_name_##]

                                            .comment-user-comment.columns.small-12


                                                  p [##_guest_rep_desc_##]
                                                  .control.right



                                                    a.write(href='#', onclick='[##_guest_rep_onclick_reply_##]')
                                                      i.fa.fa-comments-o

                                                    a.modify(href='#', onclick='[##_guest_rep_onclick_delete_##]')
                                                      i.fa.fa-edit

                                                    .date  [##_guest_rep_date_##]


                            s_guest_reply_container
                            ul
                              s_guest_reply_rep


                                li(id='[##_guest_rep_id_##]')
                                            .row
                                              .columns.small-9.comment-second-box.right

                                                  .row.comment-second-row
                                                      .columns.small-12
                                                        .name-icon
                                                        .name-text.left [##_guest_rep_name_##]

                                                      .columns.small-11.samll-centered.comment-second-p
                                                        p [##_guest_rep_desc_##]

                                                        .control.right
                                                          //- a.address(href='[##_rp_rep_link_##]')
                                                          //-   span 댓글주소
                                                          //- a.modify(href='#', onclick='[##_rp_rep_onclick_delete_##]')
                                                          //-   span 수정/삭제

                                                          a.modify(href='#', onclick='[##_guest_rep_onclick_delete_##]')
                                                            i.fa.fa-edit
                                                        .date.right  [##_guest_rep_date_##]













            s_notice_rep
              .entryNotice
                .titleWrap
                  h2
                    a(href='[##_notice_rep_link_##]') [##_notice_rep_title_##]
                  span.category 공지사항
                  span.date [##_notice_rep_date_##]
                .article
                  | [##_notice_rep_desc_##]
            s_article_protected
              .entryProtected
                .titleWrap
                  h2
                    a(href='[##_article_rep_link_##]') [##_article_rep_title_##]
                  span.date [##_article_rep_date_##]
                p.text
                  | 보호되어 있는 글입니다.
                  br
                  |           내용을 보시려면 비밀번호를 입력하세요.
                p
                  label(for='[##_article_password_##]') 비밀번호 ::
                  input(id='[##_article_password_##]', name='[##_article_password_##]', type='password', onkeydown='if (event.keyCode == 13) [##_article_dissolve_##]')
                  input.submit(type='button', value='확인', onclick='[##_article_dissolve_##]')
            s_article_rep
              .entry
                .titleWrap
                  h2
                    a(href='[##_article_rep_link_##]') [##_article_rep_title_##]
                  span.category
                    i.fa.fa-folder-o
                      a(href='[##_article_rep_category_link_##]')  [##_article_rep_category_##]
                  span.date
                    i.fa.fa-calendar-o  [##_article_rep_date_##]


                  s_ad_div
                    .admin
                      a(href='[##_s_ad_m_link_##]') 수정
                      |  :
                      a(href='#', onclick='[##_s_ad_m_onclick_##]') 수정(창으로)
                      |  |
                      |                 ([##_s_ad_s1_label_##])→
                      a(href='#', onclick='[##_s_ad_s2_onclick_##]') [##_s_ad_s2_label_##]
                      |  |
                      a(href='#', onclick='[##_s_ad_t_onclick_##]') 관련글(트랙백)
                      |  |
                      a(href='#', onclick='[##_s_ad_d_onclick_##]') 삭제
                // titleWrap close
                .article
                  | [##_article_rep_desc_##]

                  .adsense-bottom
                    span
                      // 애드센스 본문 하단










                .row.article-info

                  .columns.samll-12.medium-12.left

                    s_tag_label
                      i.fa.fa-tags.tagTrail.left
                        span.tagText TAG
                        |  [##_tag_label_rep_##]


                  .author-box.columns.samll-12.medium-12.right


                      .author

                        i.fa.fa-pencil-square-o
                        span.text
                        //- | Posted by&nbsp;

                        | &nbsp;[##_article_rep_author_##]

                      .actionTrail
                        a(href='#tb', onclick='[##_article_rep_tb_link_##]')
                          i.fa.fa-sign-out.fa-flip-horizontal &nbsp;
                          s_tb_count
                            | 트랙백&nbsp;
                            span.cnt [##_article_rep_tb_cnt_##]
                            | 개
                        | ,

                        a(href='#rp', onclick='[##_article_rep_rp_link_##]')
                          i.fa.fa-comments-o.fa-flip-horizontal &nbsp;
                          s_rp_count

                            //- | 댓글&nbsp;
                            span.cnt [##_article_rep_rp_cnt_##]
                            | 개














                .row.article-reply

                    s_tb
                      .trackback
                        h3 트랙백 주소 :: [##_tb_address_##]
                        s_tb_container
                          ol
                            s_tb_rep
                              li(id='[##_tb_rep_id_##]')
                                h4
                                  | Subject:
                                  a(href='[##_tb_rep_url_##]', onclick='window.open(this.href); return false', rel='external nofollow') [##_tb_rep_title_##]
                                span.from
                                  | Tracked from
                                  span.name [##_tb_rep_site_##]
                                span.date [##_tb_rep_date_##]
                                a.delete(href='#', onclick='[##_tb_rep_onclick_delete_##]; return false')
                                  span 삭제
                                p [##_tb_rep_desc_##]
                      // trackback close
                    s_rp
                      .comment
                        h3 댓글을 달아 주세요
                        .commentList
                          s_rp_container
                            ol
                              s_rp_rep
                                li(id='[##_rp_rep_id_##]')

                                  div(class='[##_rp_rep_class_##]')

                                        .row

                                          .comment-user-id.columns.small-12

                                            .name-icon

                                            .name-text

                                              .name [##_rp_rep_name_##]

                                          .comment-user-comment.columns.small-12


                                                p [##_rp_rep_desc_##]
                                                .control.right



                                                  a.write(href='#', onclick='[##_rp_rep_onclick_reply_##]')
                                                    i.fa.fa-comments-o

                                                  a.modify(href='#', onclick='[##_rp_rep_onclick_delete_##]')
                                                    i.fa.fa-edit

                                                  .date  [##_rp_rep_date_##]

                                  s_rp2_container
                                    ul
                                      s_rp2_rep
                                        li(id='[##_rp_rep_id_##]')
                                            .row
                                              .columns.small-9.comment-second-box.right


                                                  //- div(class='[##_rp_rep_class_##]')




                                                  .row.comment-second-row

                                                      .columns.small-12


                                                        .name-icon



                                                        .name-text.left [##_rp_rep_name_##]


                                                      .columns.small-11.samll-centered.comment-second-p

                                                        p [##_rp_rep_desc_##]



                                                        .control.right
                                                          //- a.address(href='[##_rp_rep_link_##]')
                                                          //-   span 댓글주소
                                                          //- a.modify(href='#', onclick='[##_rp_rep_onclick_delete_##]')
                                                          //-   span 수정/삭제

                                                          a.modify(href='#', onclick='[##_rp_rep_onclick_delete_##]')
                                                            i.fa.fa-edit
                                                        .date.right  [##_rp_rep_date_##]

                        s_rp_input_form

                          .commentWrite
                            s_rp_member


                              .row
                                .columns.small-12.medium-3
                                  .comment-sugguest-icon
                                    i.fa.fa-comments-o.fa-flip-horizontal.fa-5x


                                .columns.small-12.medium-9

                                  s_rp_guest
                                    .row
                                      .columns.small-12.medium-6

                                        p
                                          input(placeholder="Name", type='text', name='[##_rp_input_name_##]', value='[##_guest_name_##]')

                                      .columns.small-12.medium-6
                                        p
                                          input(placeholder="Password",type='password', name='[##_rp_input_password_##]', value='')

                                    .row
                                      .columns.small-12.medium-12
                                        p
                                            //- input(placeholder="link",type='text', name='[##_rp_input_homepage_##]', value='[##_guest_homepage_##]')
                                          input(placeholder="link", type='text', name='[##_rp_input_homepage_##]', value='')










                            .row.comment-bottom-text

                                                      .comment-input-text.columns.small-12
                                                        p
                                                          textarea(name='[##_rp_input_comment_##]', rows='10', cols='30')


                                                        .comment-bottom-input
                                                          p
                                                            //- input.submit(type='submit', value='댓글 달기', onclick='[##_rp_onclick_submit_##]')
                                                            input#comment-input.secondary.right(type='submit', value='댓글 달기', onclick='[##_rp_onclick_submit_##]')


                                                        .textinput-send-box
                                                          .comment-send-icon.right

                                                            label(for='comment-input')
                                                              i.fa.fa-send-o.fa-2x

                                                            //- .comment-secrete-bottom

                                                          .comment-secret-box
                                                              .secret-slider

                                                                section(title='.slideOne')
                                                                  // .slideOne
                                                                  .slideOne
                                                                    input#slideOne(type='checkbox', name='[##_rp_input_is_secret_##]')
                                                                    label(for='slideOne')

                                                                  // end .slideOne
                                                                  //- label(for='slideOne')  Secret


                                                              .label-lock
                                                                  label(for='slideOne')
                                                                    i.fa.fa-lock



            .row.pagination-line
                          s_paging

                              .pagination-centered

                                ul.numbox.pagination

                                  li(class="arrow arrow-left")
                                    a([##_prev_page_##] id="prevPage")
                                      i.fa.fa-chevron-left
                                  s_paging_rep
                                    li
                                      a.num([##_paging_rep_link_##]='')  [##_paging_rep_link_num_##]



                                  li(class="arrow arrow-right")
                                    a([##_next_page_##] id="nextPage")
                                       i.fa.fa-chevron-right




      .foooter-color-space
      .darkgray-background



        .row



          #sidebar
            .wrapper.floatWrapper

              .row.sidebar_layer_info
                .sidebar-info.columns.small-12
                  s_sidebar
                    s_sidebar_element
                      // 블로그 소개 모듈
                      .blog_info

                        .columns.small-2.medium-3

                          #blogImage.right
                            img(src="[##_image_##]", alt="블로그 이미지")


                        .columns.small-10.medium-9.blog_info_text
                          .row
                            .columns.small-12.medium-10.left
                              #blogDesc [##_desc_##]

                              #userID
                                i.fa.fa-star  &nbsp;[##_blogger_##]






              .row.sidebar_layer1
                .sidebar-one.columns.small-12.medium-4.large-4
                  s_sidebar


                    s_sidebar_element
                      // 공지사항 모듈
                      s_rct_notice
                        #notice
                          h3.stitle &#44277;&#51648;&#49324;&#54637;
                          ul
                            s_rct_notice_rep
                              li
                                a(href="[##_notice_rep_link_##]") [##_notice_rep_title_##]
                    // 공지사항 모듈

                .sidebar-two.columns.small-12.medium-4.large-4
                  s_sidebar


                    s_sidebar_element
                      // 카테고리 모듈

                      .row.catergory-block

                        #category.columns.small-12.small-centered

                          h3.stitle &#52852;&#53580;&#44256;&#47532;

                              //- | [##_category_##]
                              | [##_category_list_##]
                          hr
                    // 카테고리 모듈

                .sidebar-three.columns.small-12.medium-4.large-4
                  s_sidebar




              .row.sidebar_layer2
                .sidebar-4.columns.small-12.medium-4.large-4
                  s_sidebar
                    s_sidebar_element
                      // 최근 포스트 모듈
                      #recentPost
                        h3.stitle &#52572;&#44540;&#50640; &#50732;&#46972;&#50728; &#44544;
                        ul
                          s_rctps_rep
                            li
                              a(href="[##_rctps_rep_link_##]") [##_rctps_rep_title_##].
                              span.cnt [##_rctps_rep_rp_cnt_##]
                    // 최근 포스트 모듈

                .sidebar-5.columns.small-12.medium-4.large-4
                  s_sidebar
                    s_sidebar_element
                      // 최근 댓글 모듈
                      #recentComment
                        h3.stitle &#52572;&#44540;&#50640; &#45804;&#47536; &#45843;&#44544;
                        ul#recentComments
                          s_rctrp_rep
                            li
                              a(href="[##_rctrp_rep_link_##]") [##_rctrp_rep_desc_##].
                              span.info
                                span.name [##_rctrp_rep_name_##]
                                //- span.date [##_rctrp_rep_time_##]
                    // 최근 댓글 모듈
                    s_sidebar_element
                      // 최근 트랙백 모듈
                      #recentTrackback
                        h3.stitle &#52572;&#44540;&#50640; &#48155;&#51008; &#53944;&#47001;&#48177;
                        ul
                          s_rcttb_rep
                            li
                              a(href="[##_rcttb_rep_link_##]") [##_rcttb_rep_desc_##].
                              span.info
                                span.name [##_rcttb_rep_name_##]
                                span.date [##_rcttb_rep_time_##]
                    // 최근 트랙백 모듈


                    s_sidebar_element
                      // 글 보관함 모듈
                      #archive
                        h3.stitle &#44544; &#48372;&#44288;&#54632;
                        ul
                          s_archive_rep
                            li
                              a(href="[##_archive_rep_link_##]") [##_archive_rep_date_##]
                              span.cnt ([##_archive_rep_count_##])
                    // 글 보관함 모듈

                .sidebar-6.columns.small-12.medium-4.large-4
                  s_sidebar
                    s_sidebar_element
                      // 링크 모듈
                      #link
                        h3.stitle &#47553;&#53356;
                        ul
                          s_link_rep
                            li
                              a(href="[##_link_url_##]", onclick="window.open(this.href); return false") [##_link_site_##].
                      // 링크 모듈


                    s_sidebar_element
                      // 달력 모듈
                      #calendar
                        h3 &#45804;&#47141;
                        s_custom_calendar
                          table.tt-calendar(cellpadding="0", cellspacing="1", style="width: 100%; table-layout: fixed")
                            caption.cal_month
                              a.prev-month(href="[##_prev_month_##]", title="1개월 앞의 달력을 보여줍니다.") &#171;
                              a.next-month(href="[##_next_month_##]", title="1개월 뒤의 달력을 보여줍니다.") &#187;
                              a.this-month(href="[##_this_month_##]", title="현재 달의 달력을 보여줍니다.") [##_year_##].[##_month_##]
                            s_calendar_header
                              thead
                                tr
                                  s_calendar_header_item
                                    th(class="[##_class_##]") [##_title_##]

                            s_calendar_days
                              tbody
                                s_calendar_week
                                  tr(class="[##_class_##]")
                                    s_calendar_days_item
                                      td(class="[##_class_##]") [##_day_##]
                    // 달력 모듈

                    s_sidebar_element
                      // 카운터 모듈
                      #counter
                        .total
                          span Total :
                          | [##_count_total_##]
                        .today
                          span Today :
                          | [##_count_today_##]
                        .yesterday
                          span Yesterday :
                          | [##_count_yesterday_##]
                    // 카운터 모듈
                    s_sidebar_element
                      // RSS 링크
                      #btnRSS
                        a(href="[##_rss_url_##]", onclick="window.open(this.href); return false", title="[##_title_##] 구독하기")
                          span [##_title_##] &#44396;&#46021;&#54616;&#44592;
                    // RSS 링크

              .row.sidebar-layer3

                .sidebar-7.columns.small-12.small-centered.medium-8.medium-centered.large-5.large-centered
                  s_sidebar

                    s_sidebar_element
                      .row.tag-block
                        .columns.small-12
                          // 태그목록 모듈
                          #tagbox
                            h3.stitle &#53468;&#44536;&#47785;&#47197;
                            ul
                              s_random_tags
                                li
                                  a(class="[##_tag_class_##]" href="[##_tag_link_##]")  [##_tag_name_##]
                        // 태그목록 모듈


                    s_sidebar_element

                      .row
                        .columns.small-10.small-centered
                          // 검색 모듈
                          #searchBox
                            s_search
                              input(placeholder="Search", type='text', name='[##_search_name_##]', value='[##_search_text_##]', onkeypress='if (event.keyCode == 13) { [##_search_onclick_submit_##] }')
                              //- input.submit(value='검색', type='button', onclick='[##_search_onclick_submit_##]')

                          //- #searchBox
                          //-   .row
                          //-     .small-12.medium-11.large-11.columns
                          //-       s_search.row.collapse
                          //-         .small-10.columns
                          //-           input(type='text', name='[##_search_name_##]', value='[##_search_text_##]', onkeypress='if (event.keyCode == 13) { [##_search_onclick_submit_##] }')
                          //-         .small-2.columns
                          //-           a.button.postfix(value='검색', type='button', onclick='[##_search_onclick_submit_##]') Go



                    s_sidebar_element
                      // 관리자 모듈
                      #adminMenu
                        ul
                          li.tab_admin
                            a(href='[##_owner_url_##]')
                              i.fa.fa-key  Admin
                              //- img(src='./images/btn_admin.gif', alt='관리자')
                          li.tab_write
                            a(href='[##_owner_url_##]/entry/post')
                              i.fa.fa-pencil  Write
                              //- img(src='./images/btn_write.gif', alt='글쓰기')








            // close wrapper
          // close sidebar

        .row.footer_copyright
            |Designed by&nbsp
            i.fa.fa-lemon-o
            a(href='http://www.limeartworks.com')   Lime Artworks


              //- .copyright.flatcube_copy

              //-   i.fi-lightbulb

              //-   a(href='http://flatcubefactory.tistory.com/')  Designed by FlatCube Factory
          // container close .......






    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.topbar.js")

    script.
      $(document).foundation();


    script.
      jQuery( '.another_category' ).appendTo( '.adsense-bottom' );




