<div id="sidebar">
	<div class="wrapper floatWrapper">
		<div class="sidebar-one">
		<s_sidebar>
			<s_sidebar_element>
	
				<div id="blogImage"><img src="[##_image_##]" alt="블로그 이미지" /></div>
			</s_sidebar_element>
			<s_sidebar_element>

				<span id="userID">[##_blogger_##]</span>
				<span id="blogDesc">[##_desc_##]</span>
			</s_sidebar_element>
			<s_sidebar_element>
	
				<div id="calendar">
					<h3>달력</h3>
					<s_custom_calendar>
					<table class="tt-calendar" cellpadding="0" cellspacing="1" style="width: 100%; table-layout: fixed">
						<caption class="cal_month">
							<a href="[##_prev_month_##]" title="1개월 앞의 달력을 보여줍니다." class="prev-month">&laquo;</a>
							<a href="[##_next_month_##]" title="1개월 뒤의 달력을 보여줍니다." class="next-month">&raquo;</a>
							<a href="[##_this_month_##]" title="현재 달의 달력을 보여줍니다." class="this-month">[##_year_##].[##_month_##]</a>
						</caption>
						<s_calendar_header>
						<thead>
							<tr>
								<s_calendar_header_item>
								<th class="[##_class_##]">[##_title_##]</th>
								</s_calendar_header_item>
							</tr>
						</thead>
						</s_calendar_header>
						<s_calendar_days>
						<tbody>
							<s_calendar_week>
							<tr class="[##_class_##]">
								<s_calendar_days_item>
								<td class="[##_class_##]">[##_day_##]</td>
								</s_calendar_days_item>
							</tr>
							</s_calendar_week>
						</tbody>
						</s_calendar_days>
					</table>
					</s_custom_calendar>
				</div>
			</s_sidebar_element>
			<s_sidebar_element>

				<s_rct_notice>
					<div id="notice">
						<h3 class="stitle">공지사항</h3>
						<ul>
							<s_rct_notice_rep>
								<li><a href="[##_notice_rep_link_##]">[##_notice_rep_title_##]</a></li>
							</s_rct_notice_rep>
						</ul>
					</div>
				</s_rct_notice>
			</s_sidebar_element>
			<s_sidebar_element>

				<div id="tagbox">
					<h3 class="stitle">태그목록</h3>
					<ul>
						<s_random_tags>
							<li><a href="[##_tag_link_##]" class="[##_tag_class_##]"> [##_tag_name_##]</a></li>
						</s_random_tags>
					</ul>
				</div>
			</s_sidebar_element>
		</s_sidebar>
		</div>
		<div class="sidebar-two">
		<s_sidebar>
			<s_sidebar_element>
	
				<div id="recentPost">
					<h3 class="stitle">최근에 올라온 글 </h3>
					<ul>
						<s_rctps_rep>
							<li>
								<a href="[##_rctps_rep_link_##]">[##_rctps_rep_title_##].</a>
								<span class="cnt">[##_rctps_rep_rp_cnt_##]</span>
							</li>
						</s_rctps_rep>
					</ul>
				</div>
			</s_sidebar_element>
			<s_sidebar_element>

				<div id="recentComment">
					<h3 class="stitle">최근에 달린 댓글</h3>
					<ul id="recentComments">
						<s_rctrp_rep>
							<li>
								<a href="[##_rctrp_rep_link_##]">[##_rctrp_rep_desc_##].</a>
								<span class="info">
									<span class="name">[##_rctrp_rep_name_##]</span>
									<span class="date">[##_rctrp_rep_time_##]</span>
								</span>
							</li>
						</s_rctrp_rep>
					</ul>
				</div>
			</s_sidebar_element>
			<s_sidebar_element>
	
				<div id="recentTrackback">
					<h3 class="stitle">최근에 받은 트랙백</h3>
					<ul>
						<s_rcttb_rep>
							<li>
								<a href="[##_rcttb_rep_link_##]">[##_rcttb_rep_desc_##].</a>
								<span class="info">
									<span class="name">[##_rcttb_rep_name_##]</span>
									<span class="date">[##_rcttb_rep_time_##]</span>
								</span>
							</li>
						</s_rcttb_rep>
					</ul>
				</div>
			</s_sidebar_element>

			<s_sidebar_element>

				<div id="archive">
					<h3 class="stitle">글 보관함</h3>
					<ul>
						<s_archive_rep>
							<li>
								<a href="[##_archive_rep_link_##]">[##_archive_rep_date_##]</a>
								<span class="cnt">([##_archive_rep_count_##])</span>
							</li>
						</s_archive_rep>
					</ul>
				</div>
			</s_sidebar_element>
		</s_sidebar>
		</div>
		<div class="sidebar-three">
		<s_sidebar>
			<s_sidebar_element>

				<div id="link">
					<h3 class="stitle">링크</h3>
					<ul>
						<s_link_rep>
							<li>
								<a href="[##_link_url_##]" onclick="window.open(this.href); return false">[##_link_site_##].</a>
							</li>
						</s_link_rep>
					</ul>
				</div>
			</s_sidebar_element>
		</s_sidebar>
		</div>
		<div class="sidebar-four">
		<s_sidebar>
			<s_sidebar_element>
	

				<div id="category">
					<h3>카테고리</h3>
		
					[##_category_##]
					<!-- [##_category_list_##] -->
				</div>
			</s_sidebar_element>
		</s_sidebar>
		</div><!-- close four -->
		<div class="sidebar-five">
		<s_sidebar>
			<s_sidebar_element>
	<!-- 카운터 모듈 -->
				<div id="counter">
					<div class="total"><span>Total : </span>[##_count_total_##]</div>
					<div class="today"><span>Today : </span>[##_count_today_##]</div>
					<div class="yesterday"><span>Yesterday : </span>[##_count_yesterday_##]</div>
				</div>
			</s_sidebar_element>
			<s_sidebar_element>
	<!-- RSS 링크 -->
				<div id="btnRSS">
					<a href="[##_rss_url_##]" onclick="window.open(this.href); return false" title="[##_title_##] 구독하기"><span>[##_title_##] 구독하기</span></a>
				</div>
			</s_sidebar_element>
		</s_sidebar>
		</div><!-- close five -->
	</div><!-- close wrapper -->
</div><!-- close sidebar -->